<div class="main-header">
  <nav class="navbar navbar-light bg-light main-header-nav">
    <ul class="main-header-item-list">
      <li class="main-header-item">
        <a class="navbar-brand brand-name" href="/">Social Login Demo</a>
      </li>
      <li class="main-header-item">
        <a href="/login">Login</a>
      </li>
      <li class="main-header-item">
        <a href="/signup">Sign up</a>
      </li>
    </ul>
  </nav>
</div>