<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-header">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand brand-name" href="/">Social Login Demo</a>
      </nav>
    </div>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
  </body>
</html>
