<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main-header">
      <nav class="navbar navbar-light bg-light main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-item">
            <a class="navbar-brand brand-name" href="/">Social Login Demo</a>
          </li>
          <li class="main-header-item">
            <a href="/login">Login</a>
          </li>
        </ul>
      </nav>
    </div>
    <main>
      <form class="login-form" action="/login" method="POST">
        <div class="form-control">
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button class="btn" type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
