<%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <main>
      <form class="login-form">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button class="btn btn-primary btn-block" type="button" onclick="localLogin()">Log In</button>
      </form>
    </main>
  </body>
</html>
