body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FFFFFF !important;
}

label {
  margin: 0px !important;
}

main {
  padding: 1rem;
  margin: auto;
}

#error-field {
  font-size: 12px;
  color: #c91919;
}

.main-header{
  height: 3.5rem;
  background-color: #d63737;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  z-index: 10;
}

a.brand-name {
  font-size: 1.4em;
  font-weight: 800;
}
.main-header a,
.main-header button {
  text-decoration:none;
  cursor: pointer;
}

.main-header-nav {
  align-items: center;
  justify-content: space-between;
}

.main-header-item-list {
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header-item {
  margin: 0 1rem;
  padding: 0;
}

.pull-right {
  float: right;
}

.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.form-control {
  margin: 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.error-page-div {
  text-align: center;
  align-items: center;
}

.error-page-heading {
    font-size: 80px;
    font-weight: 600;
    color: #33213b;
}

.error-page-sub-heading {
  font-size: 30px;
}